<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head lang="en">
    <title>Hello twitter</title>
    <th:block th:include="layout/commonResources :: commonCss"></th:block>
</head>
<body>
<div class="row">
    <h2 class="indigo-text center" th:text="|Tweet results for ${search}|">Tweets</h2>
    <ul class="collection">
        <!--<li class="collection-item avatar" th:each="tweet :${tweets}">
            <img th:src="${tweet.user.profileImageUrl}" alt=""
                 class="circle"/>
            <span class="title" th:text="${tweet.user.name}">Username</span>
            <p th:text="${tweet.text}">Tweet message</p>
        </li>-->
        <h1>我是内容</h1>
    </ul>
</div>

<th:block th:include="layout/commonResources :: commonJs"></th:block>
</body>
</html>
