<!DOCTYPE html>
<html lang="en" xmlns:th="http:www.thymeleaf.org">

<head th:fragment = common_header(title,link)>
    <meta charset="UTF-8">

    <title th:include="${title}">title</title>

    <link href="/webjars/materializecss/0.96.0/css/materialize.css" type="text/css" rel="stylesheet" media="screen,projection"/>

    <th:block th:replace="${link}" />
</head>
<body th:fragment = common_body(script,div)>

    <div th:replace="${div}"></div>

    <script src="/webjars/jquery/2.1.4/jquery.js"></script>
    <script src="/webjars/materializecss/0.96.0/js/materialize.js"></script>
    <th:block th:replace="${script}"/>
</body>

</html>